<form action="{{ path("post_create") }}" method="post">
    <div class="row">
        <div class="large-12 columns">
            <textarea name="text" placeholder="escribe 'lo que quieras'"></textarea>
        </div>
        <div class="large-4 columns large-offset-8">
            <button class="button small small-12 secondary" type="submit">enviar</button>
        </div>
    </div>
</form>
