<div class="row">
    <div class="small-4 columns">
        <a class="th" href="">
            <img src="" width="80" height="80"/>
        </a>
    </div>
    <div class="small-8 columns">
        {{ text }}
    </div>
</div>
