<div class="row post">
    <div class="small-2 columns">
        <a class="th" href="">
            <img src=""/>
        </a>
    </div>
    <div class="small-10 columns">
        {{ item.text }}
    </div>
</div>
