<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>BUZZ feed</title>
        <link>http://buzz.simettric.com/</link>
        <description>The buzz RSS feed</description>
        <language>es-ES</language>

        {% for item in items %}

            <item>
                <title>{{ item.text }}</title>
                <description>{{ item.text }}</description>
                <pubDate>{{ item.created_at }}</pubDate>
            </item>

        {% endfor %}

    </channel>
</rss>
