{% extends "layout.html.twig" %}

{% block content %}


    {% if items %}

        {% for item in items %}
            {% include 'posts/post-item.html.twig'%}
        {% endfor %}

    {% else %}
        Nadie ha publicado nada.
    {% endif %}




{% endblock %}


{% block load_more %}
    {% if items %}
        <div class="row load_more">
            <div class="small-4 small-offset-4 columns">
                <button class="button small secondary small-12 " id="load_more">ver más</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
