<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Danos feedback!' %} - Buzz</title>

        <link href="{{ app.request.basepath }}/css/foundation.min.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <div class="row">
            <div class="large-12 columns">
                <h1>Buzz</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-8 small-12 columns">
                {% block content %}{% endblock %}
            </div>
            <div class="large-4 small-12 columns">
                
            </div>
        </div>



    </body>
</html>
