<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Danos feedback!' %} - Buzz</title>

        <link href="{{ app.request.basepath }}/css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <div class="row">
            <div class="large-12 columns">
                <h1>Buzz</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-8 small-12 columns">

                <section id="publish_form">
                    {% include 'posts/new_form.html.twig' %}
                </section>


                <section id="post_list">
                    {% block content %}{% endblock %}
                </section>

                <div class="row load_more">
                    <div class="small-4 small-offset-4 columns">
                        <button class="button small secondary small-12 " id="load_more">ver más</button>
                    </div>
                </div>

            </div>
            <div class="large-4 small-12 columns">

            </div>
        </div>

        {% block js %}{% endblock %}



    </body>
</html>
